<?xml version="1.0"?>
<robot name="table">

  <material name="brown" >
    <color rgba="0.396078431372549 0.21568627450980393 0 1" />
  </material>

  <link name="t">
    <visual>
      <origin xyz="0 0 0.6"/>
      <geometry>
        <cylinder radius="0.6" length="0.05"/>
      </geometry>
      <material name="brown"/>
    </visual>

    <collision>
      <origin xyz="0 0 0.6"/>
      <geometry>
        <cylinder radius="0.6" length="0.05"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.01"/>
    </inertial>
  </link>

  <link name="leg_1">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
      <material name="brown"/>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.005"/>
    </inertial>
  </link>

  <link name="leg_2">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
      <material name="brown"/>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.005"/>
    </inertial>
  </link>

  <link name="leg_3">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
      <material name="brown"/>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.005"/>
    </inertial>
  </link>

  <link name="leg_4">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
      <material name="brown"/>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.6"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0"
               izz="0.005"/>
    </inertial>
  </link>

  <joint name="t_to_leg_1" type="fixed">
    <parent link="t"/>
    <child link="leg_1"/>
    <origin xyz="0.2 0.2 0.3" rpy="0 0 0"/>
  </joint>

  <joint name="t_to_leg_2" type="fixed">
    <parent link="t"/>
    <child link="leg_2"/>
    <origin xyz="-0.2 0.2 0.3" rpy="0 0 0"/>
  </joint>

  <joint name="t_to_leg_3" type="fixed">
    <parent link="t"/>
    <child link="leg_3"/>
    <origin xyz="-0.2 -0.2 0.3" rpy="0 0 0"/>
  </joint>

  <joint name="t_to_leg_4" type="fixed">
    <parent link="t"/>
    <child link="leg_4"/>
    <origin xyz="0.2 -0.2 0.3" rpy="0 0 0"/>
  </joint>

</robot>
